<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batidos The Future</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css    ">
    <link rel="icon" href="/Imagenes/batido1.ico">
    <link rel="stylesheet" href="/src/css/style10.css">
</head>
<body>
    
    <div class="menu-btn">
		<i class="fas fa-bars"></i>
	</div>

    <div class="container">
        <nav class="nav-main">
        <img src="/Imagenes/batido.png" alt="Logo" class="nav-brand">
        <ul class="nav-menu">
            <li>
                <a href="/index.html">Inicio</a>
            </li><li>
                <a href="/views/index4.html">Productos</a>
            </li><li>
                <a href="/views/index10.html">Información</a>
            </li><li>
                <a href="#">Contactos</a>
            </li><li>
                <a href="/views/index11.html">Más</a>
            </li>
        </ul>
        <ul class="nav-menu-right">
            <a href="#" ><i class="fas fa-search"></i></a>    
        </ul>
        </nav>
        <hr>
    </div>

    <div class="article">
        <div class="card">
            <figure>
                <img src="/Imagenes/mis.jpg" alt="mision">
            </figure>
    
    <div class="contenido-card">
        <h3>Misión:</h3>
        <p>La razón de ser de la empresa The Future es llevar productos con la mejor calidad a las personas, incentivando a los consumidores a llevar una vida sana y saludable. Esta empresa muestra un nuevo estilo de vida el cual los consumidores pueden compartirlo con sus familiares o allegados.</p>
    </div>
    </div>
    <div class="card">
            <figure>
                <img src="/Imagenes/vis.jpg" alt="vision">
            </figure>
            
    <div class="contenido-card">
        <h3>Visión:</h3>
        <p>La empresa está proyectada a ser una de las mejores empresas colombianas en alrededor de 5 años, nuestras bebidas y productos naturales serán una nueva forma de percibir el consumo eco-sostenible.</p>
        <p>&nbsp;</p>
    </div>
</div>
    
    <script src="/src/js/main10.js"></script>
</body>
</html>
