<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helados The Future</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css    ">
    <link rel="stylesheet" href="/src/css/style8.css"></head>
	<link rel="icon" href="/Imagenes/batido1.ico">
<body>

	<div class="menu-btn">
		<i class="fas fa-bars"></i>
	</div>
	
	<div class="container">
		<nav class="nav-main">
			<img src="/Imagenes/batido.png"class="nav-brand">
			<ul class="nav-menu">
				<li>
					<a href="/index.html">Inicio</a>
				</li>
				<li>
					<a href="/views/index4.html">Productos</a>
				</li><li>
					<a href="/views/index10.html">Información</a>
				</li><li>
					<a href="#">Contactos</a>
				</li><li>
					<a href="#">Más</a>
				</li>
			</ul>
			<ul class="nav-menu-right">
				<li>
					<a href="#">
						<i class="fas fa-search"></i>
					</a>
				</li>
			</ul>
		</nav>
		<hr>

		<div class="news-cards">
            <div>
                <img src="/Imagenes/H2.jpg" alt="Batido n1">
                <h3>Helado de brownie.</h3>
				<p>"Todos los productos son artesanales hechos por la empresa "The Future"</p>
                <p>&nbsp;</p>
                <p>Precio: $2.000</p>
                <a href="/views/index3.html">Comprar <i class="fas fa-cart-arrow-down"></i></a>
            </div>
            <div>
                <img src="/Imagenes/H3.jpg" alt="Batido n2">
                <h3>Helado de maracuyá.</h3>
                <p>"Todos los productos son artesanales hechos por la empresa "The Future"</p>
                <p>&nbsp;</p>
                <p>Precio: $2.000</p>
                <a href="/views/index3.html">Comprar <i class="fas fa-cart-arrow-down"></i></a>
            </div> <div>
                <img src="/Imagenes/H4.jpg" alt="Batido n3">
                <h3>Helado de vainilla.</h3>
                <p>"Todos los productos son artesanales hechos por la empresa "The Future"</p>
                <p>&nbsp;</p>
                <p>Precio: $2.000</p>
                <a href="/views/index3.html">Comprar <i class="fas fa-cart-arrow-down"></i></a>
            </div> <div>
                <img src="/Imagenes/H5.jpg" alt="Batido n4">
                <h3>Helado de chicle.</h3>
				<p>"Todos los productos son artesanales hechos por la empresa "The Future"</p>
                <p>&nbsp;</p>
                <p>Precio: $2.000</p>
                <a href="/views/index3.html">Comprar <i class="fas fa-cart-arrow-down"></i></a>
            </div><div>
			<img src="/Imagenes/H6.jpg" alt="Batido n4">
			<h3>Helado de fresa.</h3>
			<p>"Todos los productos son artesanales hechos por la empresa "The Future"</p>
			<p>&nbsp;</p>
            <p>Precio: $2.000</p>
            <a href="/views/index3.html">Comprar <i class="fas fa-cart-arrow-down"></i></a>
		</div><div>
			<img src="/Imagenes/H7.jpg" alt="Batido n4">
			<h3>Helado de chocolate & vainilla.</h3>
			<p>"Todos los productos son artesanales hechos por la empresa "The Future"</p>
                <p>&nbsp;</p>
                <p>Precio: $2.000</p>
            <a href="/views/index3.html">Comprar <i class="fas fa-cart-arrow-down"></i></a>
		</div><div>
			<img src="/Imagenes/H8.jpg" alt="Batido n4">
			<h3>Helado de vainilla & chispas.</h3>
			<p>"Todos los productos son artesanales hechos por la empresa "The Future"</p>
                <p>&nbsp;</p>
                <p>Precio: $2.000</p>
            <a href="/views/index3.html">Comprar <i class="fas fa-cart-arrow-down"></i></a>
		</div><div>
			<img src="/Imagenes/H9.jpg" alt="Batido n4">
			<h3>Helado de chocolate.</h3>
			<p>"Todos los productos son artesanales hechos por la empresa "The Future"</p>
                <p>&nbsp;</p>
                <p>Precio: $2.000</p>
            <a href="/views/index3.html">Comprar <i class="fas fa-cart-arrow-down"></i></a>
		</div>
        </div>

		<script src="https://unpkg.com/scrollreveal"></script>
		<script src="/src/js/main8.js"></script>
</body>
</html>
