<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/src/css/style3.css">
  <title>Entrega</title>
  <link rel="icon" href="/Imagenes/batido1.ico">
</head>
<body>

  <section class="form-register">
    <h4>Envio</h4>
    <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
    <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Dirección">
     <a href="#">
      <button class="controls">Enviar</button>
    </a> 
  </section>

</body>
</html>
