<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Batidos The Future</title>
    <link rel="icon" href="/Imagenes/batido1.ico">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css    ">
    <link rel="stylesheet" href="/src/css/style2.css">
</head>
<body>
	<div class="menu-btn">
        <i class="fas fa-bars fa"></i>
      </div>

	<div class="container">
		<nav class="nav-main">
			<img src="/Imagenes/batido.png"class="nav-brand">
			<ul class="nav-menu">
				<li>
					<a href="/index.html">Inicio</a>
				</li>
				<li>
					<a href="/views/index4.html">Productos</a>
				</li><li>
					<a href="/views/index10.html">Información</a>
				</li><li>
					<a href="#">Contactos</a>
				</li><li>
			                <a href="/views/index11.html">Más</a>
				</li>
			</ul>
			<ul class="nav-menu-right">
				<li>
					<a href="#">
						<i class="fas fa-search"></i>
					</a>
				</li>
			</ul>
		</nav>
		<hr>
		
		<div class="news-cards">
            <div>
                <img src="/Imagenes/vainilla.jpg" alt="Batido n1">
                <h3>Batido de vainilla.</h3>
                <p>El producto contiene:</p> <p>Helado - leche - Azúcar - Esencia de vainilla - Crema batida - Chocolate derretido</p>
                <p>Precio: $10.000</p>
                <a href="/views/index3.html">Comprar <i class="fas fa-cart-arrow-down"></i></a>
            </div>
            <div>
                <img src="/Imagenes/chocolate.jpg" alt="Batido n2">
                <h3>Batido de chocolate.</h3>
                <p>El producto contiene:</p> <p>Helado de chocolate - Leche entera - Sirope de chocolate - Nata montada - Macarons de chocolate.</p>
                <p>Precio: $12.000</p>
                <a href="/views/index3.html">Comprar <i class="fas fa-cart-arrow-down"></i></a>
            </div> <div>
                <img src="/Imagenes/Mango1.jpg" alt="Batido n3">
                <h3>Batido de mango.</h3>
                <p>El producto contiene:</p> <p>Mango - Leche de soja - Helado de vainilla - Azúcar - Banano</p>
                <p>&nbsp;</p>
                <p>Precio: $12.000</p>
                <a href="/views/index3.html">Comprar <i class="fas fa-cart-arrow-down"></i></a>
            </div> <div>
                <img src="/Imagenes/fresa1.jpg" alt="Batido n4">
                <h3>Batido de fresa.</h3>
                <p>El producto contiene:</p> <p>Fresas en trozos - Leche de soja - Azúcar - Helado de fresa</p>
                <p>&nbsp;</p>
                <p>Precio: $10.000</p>
                <a href="/views/index3.html">Comprar <i class="fas fa-cart-arrow-down"></i></a>
            </div>
            <div>
                <img src="/Imagenes/piña.jpg" alt="Batido n4">
                <h3>Batido de piña.</h3>
                <p>Este producto contiene:</p> <p>Platano - Piña - Leche de almendra - Miel</p>
                <p>&nbsp;</p>
                <p>Precio: $11.000</p>
                <a href="/views/index3.html">Comprar <i class="fas fa-cart-arrow-down"></i></a>
            </div><div>
                <img src="/Imagenes/Maracuya.jpg" alt="Batido n4">
                <h3>Batido de maracuyá.</h3>
                <p>Este producto contiene:</p> <p>Leche - Pulpa de maracuyá - Crema para batir - Azúcar</p>
                <p>&nbsp;</p>
                <p>Precio: $12.000</p>
                <a href="/views/index3.html">Comprar <i class="fas fa-cart-arrow-down"></i></a>
            </div><div>
                <img src="/Imagenes/corozo1.jpg" alt="Batido n4">
                <h3>Batido de corozo.</h3>
                <p>El producto contiene:</p> <p>Pulpa de corozo - Agua - Azúcar - Hielo - limón</p>
                <p>&nbsp;</p>
                <p>Precio: $10.000</p>
                <a href="/views/index3.html">Comprar <i class="fas fa-cart-arrow-down"></i></a>
            </div>
        </div>
	</div>
    
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="/src/js/main2.js"></script>
</body>
</html>
