<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Postres The Future</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css    ">
    <link rel="stylesheet" href="/src/css/style6.css">
    <link rel="icon" href="/Imagenes/batido1.ico">
</head>
<body>
	
	<div class="menu-btn">
		<i class="fas fa-bars"></i>
	</div>

	<div class="container">
		<nav class="nav-main">
			<img src="/Imagenes/batido.png"class="nav-brand">
			<ul class="nav-menu">
				<li>
					<a href="/index.html">Inicio</a>
				</li>
				<li>
					<a href="/views/index4.html">Productos</a>
				</li><li>
					<a href="/views/index10.html">Información</a>
				</li><li>
					<a href="#">Contactos</a>
				</li><li>
					<a href="#">Más</a>
				</li>
			</ul>
			<ul class="nav-menu-right">
				<li>
					<a href="#">
						<i class="fas fa-search"></i>
					</a>
				</li>
			</ul>
		</nav>
		<hr>
		
		<div class="news-cards">
            <div>
                <img src="/Imagenes/C1.jpg" alt="Batido n1">
                <h3>Cupcake de chocolate.</h3>
                <p>"Todos los productos son artesanales hechos por la empresa "The Future"</p>
                <p>&nbsp;</p>
                <p>Precio: $2.000</p>
                <a href="/views/index3.html">Comprar <i class="fas fa-cart-arrow-down"></i></a>
            </div>
            <div>
                <img src="/Imagenes/C2.jpg" alt="Batido n2">
                <h3>Cupcake de vainilla</h3>
                <p>"Todos los productos son artesanales hechos por la empresa "The Future"</p>
                <p>&nbsp;</p>
                <p>Precio: $2.000</p>
                <a href="/views/index3.html">Comprar <i class="fas fa-cart-arrow-down"></i></a>
            </div> <div>
                <img src="/Imagenes/C3.jpg" alt="Batido n3">
                <h3>Torta de chocolate</h3>
                <p>"Todos los productos son artesanales hechos por la empresa "The Future"</p>
                <p>&nbsp;</p>
                <p>Precio: 4.000</p>
                <a href="/views/index3.html">Comprar <i class="fas fa-cart-arrow-down"></i></a>
            </div> <div>
                <img src="/Imagenes/C4.jpg" alt="Batido n4">
                <h3>Postre de chocolate</h3>
                <p>"Todos los productos son artesanales hechos por la empresa "The Future"</p>
                <p>&nbsp;</p>
                <p>Precio: $4.000</p>
                <a href="/views/index3.html">Comprar <i class="fas fa-cart-arrow-down"></i></a>
            </div>
            <div>
                <img src="/Imagenes/C5.jpg" alt="Batido n4">
                <h3>Cupcakes</h3>
                <p>"Todos los productos son artesanales hechos por la empresa "The Future"</p>
                <p>&nbsp;</p>
                <p>Precio: 2.000</p>
                <a href="/views/index3.html">Comprar <i class="fas fa-cart-arrow-down"></i></a>
            </div><div>
                <img src="/Imagenes/C6.jpg" alt="Batido n4">
                <h3>Pastel de chocolate.</h3>
                <p>"Todos los productos son artesanales hechos por la empresa "The Future"</p>
                <p>&nbsp;</p>
                <p>Precio: $5.000</p>
                <a href="/views/index3.html">Comprar <i class="fas fa-cart-arrow-down"></i></a>
            </div><div>
                <img src="/Imagenes/C7.jpg" alt="Batido n4">
                <h3>Postre de chocolate</h3>
                <p>"Todos los productos son artesanales hechos por la empresa "The Future"</p>
                <p>&nbsp;</p>
                <p>Precio: $4.500</p>
                <a href="/views/index3.html">Comprar <i class="fas fa-cart-arrow-down"></i></a>
            </div><div>
                <img src="/Imagenes/C8.jpg" alt="Batido n4">
                <h3>Postre de chocolate</h3>
                <p>"Todos los productos son artesanales hechos por la empresa "The Future"</p>
                <p>&nbsp;</p>
                <p>Precio: $5.000</p>
                <a href="/views/index3.html">Comprar <i class="fas fa-cart-arrow-down"></i></a>
            </div>
        </div>
	</div>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="/src/js/main6.js"></script>
</body>
</html>
